html, body {
    height: 100%;
    margin: 0;
}

.main {
    background: linear-gradient(#87b479, #8bc7b5);
    height: 100%;
    display: flex;
    justify-content: center;
}

.section {
    margin-top: 50px;
}

td, th {
    background-color: lightyellow;
    font-size: large;
    border: solid;
    color: darkblue;
    padding: 10px;
}
.active_page {
    color: red;
}

.button_page{
    color: wheat;
    border: 3px solid black;
    margin: 5px;
    padding: 20px;
    font-size: large;
}