html, body {
    height: 100%;
    margin: 0;
}

.main {
    background: linear-gradient(#87b479, #8bc7b5);
    height: 100%;
    display: flex;
    justify-content: center;
}

.section {
    margin-top: 50px;
}

td, th {
    background-color: lightyellow;
    font-size: large;
    border-radius: 15px;
    color: darkblue;
    padding: 15px;
}

.c-button {
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: #4676D7;
    color: #fff;
    padding: 2px 22px;
    font-size: 16px;
    width: 100%;
}
.active_page {
    color: red;
}

.button_page{
    padding: 20px;
    font-size: large;
    margin: 20px 10px 0 0;
    background-color: lightyellow;
    border-radius: 15px;
}